<!-- home.html -->
{% extends 'layout/app_layout.html.jinja' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1 class="text-center">PROJECT WEBSITE DATA MINING</h1>
    <p class="lead text-center">Prediksi Layanan Perbaikan Laptop di Toko Ideal untuk Kebutuhan Stok Sparepart.</p>
{% endblock %}